body {
	background-color: #E0E0E0;
}
#div0 {
	background-color: #424242;
	width: 600px;
	margin-bottom: 5px;
	height: 75px;
	padding-bottom: 10px;
}
#div3 {
	clear: both;
	background-image: url("assets/big_img.jpg");
	background-repeat: no-repeat;
	height: 266px;
	margin: 10px 0px;
	padding-left: 10px;
}
#p1 {
	float: left;
}
#p2 {
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-color: #9E9E9E;
	padding: 3px 2px 3px 0px;
	clear: both;
	float: left;
	font-size: 10px;
	font-style: italic;
}