body {
	background-color: #E0E0E0;
	width: 600px;
	margin: auto;
}
#div0 {
	background-color: #424242;
	width: 600px;
	margin-bottom: 15px;
	height: 100px;
	padding-bottom: 5px;
}
#div1 {
    float: left;
}
#div2 {
    float: right;
    padding-top: 60px;
    padding-right: 15px;
}
#div3 {
	clear: both;
	background-image: url("assets/big_img.jpg");
	background-repeat: no-repeat;
	height: 266px;
	margin: 10px 0px;
	padding-left: 15px;
}
#div4 {
	background-color: #FFFFFF;
	width: 600px;
	margin-bottom: 15px;
	height: 210px;
}
#div5 {
	margin-left: 15px;
	border-radius: 20px;
	background-color: #212121;
	display: inline-block;
	width: 100px;
	height: 35px;
}
#div6 {
	clear: both;
	background-color: #FFFFFF;
	width: 600px;
	margin-top: 15px;
	margin-bottom: 15px;
	height: 200px;
	padding-bottom: 10px;
}
#div7 {
	float: left;
	width: 200px;
	margin-top: 30px;
}
#div8 {
	float: left;
	width: 200px;
	margin-top: 30px;
}
#div9 {
	float: right;
	width: 200px;
	margin-top: 30px;
}
#div10 {
	clear: both;
	background-color: #FFFFFF;
	width: 600px;
	height: 250px;
	margin-bottom: 15px;
	margin-top: 15px;
}
#div11 {
	float: left;
	width: 326px;
}
#div12 {
	float: right;
	margin-bottom: 0px;
	margin-right: 5px;
}
#div13 {
	clear: both;
	background-color: #FFFFFF;
	width: 600px;
	height: 248px;
	margin-top: 15px;
	margin-bottom: 15px;
}
#div14 {
	margin-top: 1px;
	float: left;
}
#div15 {
	float: right;
	width: 245px;
}
#div16 {
	clear: both;
	margin-top: 25px;
	margin-bottom: 25px;
	background-color: #64DD17;
	width: 600px;
	height: 120px;
}
#div17 {
	clear: both;
	background-color: #FFFFFF;
	width: 600px;
	height: 150px;
	margin-top: 15px;
	margin-bottom: 20px;
}
#div18 {
	width: 600px;
	height: 110px;
	margin-top: 15px;
	margin-bottom: 75px;
	background-color: #424242;
}
.logo {
	color: #FFC107;
	text-decoration: none;
	font-size: 64px;
	font-family: 'Source Sans Pro', sans-serif;
	float: left;
	padding-left: 15px;
	padding-bottom: 5px;
}
#p0 {
	color: #BDBDBD;
	font-size: 12px;
	font-family: 'Lato', sans-serif;
}
#a1 {
	text-decoration: none;
	color: #FFFFFF;
}
#p1 {
	float: left;
	font-size: 17px;
	font-style: italic;
}
#p2 {
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-color: #9E9E9E;
	padding: 3px 2px 3px 0px;
	clear: both;
	float: left;
	font-size: 10px;
	font-style: italic;
}
#p3{
	padding: 5px 15px;
	color: #757575;
}
#p4{
	text-align: center;
	color: #FFFFFF;
    font-family: sans-serif;
	margin-top: 8px;
}
#p5 {
	margin-left: auto;
	margin-right: auto;
	width: 150px;
	text-align: center;
	color: #757575;
}
#p6 {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding-top: 40px;
	color: #FFFFFF;
}
#p7 {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding-top: 40px;
	color: #FFC107;
	font-size: 14px;
	font-family: 'Lato', sans-serif;
}
#h0 {
	font-size: 18px;
	padding-left: 15px;
	padding-top: 25px;
	color: #212121;
    font-family: sans-serif;
}
#h1 {
	text-align: center;
	color: #212121;
    font-family: sans-serif;
}
#img1 {
	display: block;
	margin-left: auto;
	margin-right: auto;
}